@using Domain.Domains
@model List<Product>
<table class="table table-bordered table-hover">
	<tr>
		<th>Name_En</th>
		<th>Name_Ar</th>
		<th>Image</th>
		<th>Price</th>
		<th>categoryName</th>
		<th>SubCategoryName</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.NameE</td>
			<td>@item.NameA</td>
			<td><img src="@item.Imagep" alt="no image" style="width:100px" /></td>
			<td>@item.Price</td>
			<td>@item.category?.NameE </td>
			<td>@item.SubCategory?.NameE </td>
			<td><a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> </td>
			<td><a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> </td>
			
		</tr>
	}
</table>
<a asp-action="AddProduct" class="btn btn-success btn-lg">AddProduct</a>


