@{
    ViewData["Title"] = "DisplayProduct";
}
@model List<Product>

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning text-center">@ViewBag.Message</div>
}
else
{
    <div class="row g-4">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="@Url.Content(item.Imagep)" alt="no image" class="card-img-top" style="height:250px; object-fit:cover;" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.NameE</h5>
                       @*  <p class="card-text text-muted">@item.NameA</p> *@
                        <p class="fw-bold">السعر: @item.Price</p>

                        <!-- زرار أضف للسلة -->
                        <form asp-action="Add" asp-controller="Basket" method="post">
                            <input type="hidden" name="ProductId" value="@item.Id" />
                            <input type="hidden" name="Name" value="@item.NameA" />
                            <input type="hidden" name="Price" value="@item.Price" />
                            <button type="submit" class="btn btn-success w-100">
                                🛒 أضف للسلة
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
