@model List<Category>

<div class="row g-4" id="categoryContainer">
    @foreach (var item in Model)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 shadow-sm">
                <img src="@Url.Content(item.Image)" class="card-img-top" alt="no image" style="height:300px; object-fit:cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Categories</h5>
                    <p class="card-text text-muted">@item.NameA</p>
                    <a asp-controller="User"
                       asp-action="DisplaySubCategory"
                       asp-route-id="@item.Id"
                       class="btn btn-primary btn-load-sub">
                        SubCategories
                    </a>
                </div>
            </div>
        </div>
    }
</div>














@* @{
    Layout = "_MyLayout";
} *@
@* <div id="subcatContainer"></div>
<div id="productContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function(){

        $('#categoryContainer').on('click', '.btn-load-sub', function(e){
            e.preventDefault();
            var catId = $(this).data('id');
            $.get('@Url.Action("DisplaySubCategory", "User")', { id: catId }, function(html){
                $('#subcatContainer').html(html);
                $('#productContainer').empty();
            });
        });

       
        $('#subcatContainer').on('click', '.btn-load-prod', function(e){
            e.preventDefault();
            var subId = $(this).data('id');
            $.get('@Url.Action("DisplayProduct", "User")', { id: subId }, function(html){
                $('#productContainer').html(html);
            });
        });
    });
</script> *@